.chip {
  display: inline-flex;
  align-items: center;
  min-width: 40px;
  max-width: 344px;
  min-height: 40px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #e0e0e0;
  color: black;
  gap: 8px;

  &-click {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
      fill: var(--primary);
      color: var(--primary);
    }
  }
}

.label {
  margin: 0 8px;
  font-size: 14px;
}

.leading-icon {
  width: 24px;
  height: 24px;
}

.remove-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: auto;
  fill: gray;
  color: gray;

  &:hover {
    opacity: 0.6;
    fill: var(--primary);
    color: var(--primary);
  }
}
