.chip {
  display: inline-flex;
  align-items: center;
  min-width: 40px;
  max-width: 344px;
  min-height: 40px;
  padding: 8px 12px;
  border: 0 solid var(--on-secondary-fixed-variant);
  border-radius: 8px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  gap: 8px;

  &-click {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
      fill: var(--on-primary);
      color: var(--on-primary);
    }
  }

  &-disable {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &-selected {
    border: 1px solid var(--on-secondary-fixed-variant);
    background-color: var(--secondary-fixed);
    color: var(--on-secondary-fixed);
  }
}

.label {
  margin: 0 8px;
  font-size: 14px;
}

.leading-icon {
  width: 24px;
  height: 24px;
}
