@use '@/styles/tokens/_typography.scss' as typography;

$rem-base: 16px;
$scales: (
  xs: 0.5,
  sm: 0.8,
  md: 1,
  lg: 1.25,
);
$button-default-size: (
  width: 7,
  height: 3,
  padding: 0.4,
);
$circle-default-size: (
  width: 2.4,
  height: 2.4,
);

@function get-scale-by-size($size) {
  @return map-get($scales, $size);
}

@mixin get-size($default-size, $size) {
  @each $key, $default in $default-size {
    #{$key}: #{($default * get-scale-by-size($size))}rem;
  }
}

$circle-translate-x-size: 3.6;

@function get-circle-transition-size($size) {
  @return #{($circle-translate-x-size * map-get($scales, $size))}rem;
}

$button-transition: 'all 0.5s ease-in-out';

.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  color: black;
  gap: 1rem;

  @include typography.font-bold(sm);
}

.button {
  display: flex;
  align-items: center;
  transition: #{$button-transition};
  border: 0.05rem solid var(--outline);
  border-radius: 2rem;
  background-color: var(--surface);
  color: inherit;
  cursor: pointer;
  filter: brightness(100%);

  :hover {
    filter: brightness(90%);
  }

  &-xs {
    @include get-size($button-default-size, xs);
  }

  &-sm {
    @include get-size($button-default-size, sm);
  }

  &-md {
    @include get-size($button-default-size, md);
  }

  &-lg {
    @include get-size($button-default-size, lg);
  }
}

.circle {
  position: absolute;
  transition: #{$button-transition};
  border-radius: 4rem;
  background-color: var(--primary-container);
  filter: brightness(80%);

  :hover {
    filter: brightness(100%);
  }

  &-xs {
    @include get-size($circle-default-size, xs);
  }

  &-sm {
    @include get-size($circle-default-size, sm);
  }

  &-md {
    @include get-size($circle-default-size, md);
  }

  &-lg {
    @include get-size($circle-default-size, lg);
  }
}

.circle-toggled {
  transition: #{$button-transition};
  background-color: var(--primary-fixed-dim);
  filter: brightness(100%);

  &-xs {
    transform: translate((get-circle-transition-size(xs)), 0);
  }

  &-sm {
    transform: translate((get-circle-transition-size(sm)), 0);
  }

  &-md {
    transform: translate((get-circle-transition-size(md)), 0);
  }

  &-lg {
    transform: translate((get-circle-transition-size(lg)), 0);
  }
}

.right {
  margin-left: auto;
}
